body{
    text-align: center;
    background-color: rgb(200, 177, 130);
    
    }
  
a{
  padding: 0px 95px
}
img {
  width: 100%;
}
 p {
    width: 40%;
    ;
    
text-align: center;}
section{
 
height: 275px;
width: 55%;
margin: auto;
}
main  {
  width: 57%;
margin: auto;}