button a {

  
    color: rgb(79, 55, 54);
    border: none;
   border-radius: 30px;
    text-decoration: none;
    font-size: 3em
    
}
button{
    margin: 5px;
    float: left;
    width: 350px;
    background-color: bisque;
}
main{
   width: 1100px;
   margin: auto;
}
header{margin: auto;
    text-align: center;
}

body{
    background-color: blanchedalmond;
}


