header



button {
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 170px;
    font-size: 2em;
}

#left{ 
    background-color:#fff
;
    float: left;
    width: 30%;
    text-align: left; }


    #left img{ 
    width: 400px
}




#group img{
    width: 170px;
   
}
#group div{
    text-align: center;
    float: left ;
}

#middle{
    float: left;
 
    
    background-color: #fff;
    text-align: center;
    width: 40%;}
    
 #right img{ 
    width: 400px;
}

#right{ 

    background-color: #fff;
   float:left ;
   text-align: center;

    width: 30%

}