table{ 
    border: 1px solid black;
    width: 100%;
    background-color: rgb(221, 195, 157);
}
th{  border: 1px solid black;
     
   
    
}
td{
    border: 1px solid black;
}
div{
    width:  50%;
margin: auto;

}
h1{
    margin: auto;
    width: 50%;
}
body{
    background-image: url(imgs/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}