section.top{ 
    background-color: darkolivegreen;
    height: 500px;
}
div.diagonal{ 
    
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #fff;
    margin-top: -13.9vw;
}
section.bottom{ 
    background-color:#fff;
}